# Your Telegram bot token obtained using @BotFather
TELEGRAM_BOT_TOKEN="tel bot token"

# Telegram target chat ID (required, can be channel ID like @channelname or user ID like 123456789)
TELEGRAM_TARGET_CHAT="@xxxxx"

#DISCORD_TOKEN=""




